<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Mastery</title>
    <link rel="stylesheet" href="./assets/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart }})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- We can use ":" instead of "v-bind:" -->
            <img
              :src="image"
              alt=""
              :class="{ 'out-of-stock-img': !inStock }"
            />
          </div>
          <div class="product-info">
            <a :href="url">
              <h1>{{ product }}</h1>
            </a>
            <!-- v-if removes element completely. v-show makes it hidden. -->
            <p v-if="inStock">In Stock</p>
            <!-- <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p> -->
            <p v-else>Out of Stock</p>
            <p v-if="onSale">On Sale</p>
            <p v-else>Not on sale</p>
            <p>{{ description }}</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <ul>
              <li v-for="size in sizes">{{ size }}</li>
            </ul>
            <div
              v-for="variant in variants"
              :key="variant.id"
              @mouseover="updateImage(variant.image)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }"
            ></div>
            <!-- We can use "@" instead of "v-on:" like in Alpine -->
            <button
              class="button"
              :class="{ disabledButton: !inStock }"
              @click="addToCart"
              :disabled="!inStock"
            >
              Add to Cart
            </button>
            <button class="button" @click="removeFromCart">
              Remove from Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
